.cal-embed-container {
  max-width: var(--content-max-width);
  margin: 0 auto;
  width: 100%;
  min-height: 550px;
  border: none;
  border-radius: 0;
  overflow: hidden;
  background-color: transparent;
  box-shadow: none;
}

.cal-iframe {
  width: 100%;
  height: 100%;
  min-height: 550px;
  border: none;
  display: block;
  background-color: transparent;
}

/* Tablet */
@media (max-width: 1024px) {
  .cal-embed-container {
    min-height: 500px;
  }

  .cal-iframe {
    min-height: 500px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .cal-embed-container {
    min-height: 450px;
  }

  .cal-iframe {
    min-height: 450px;
  }
}

